body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}




.onoffswitch {
    position: relative; width: 35px;
    -webkit-user-select:none; -moz-user-select:none;
    float: right;
    margin: 10px;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 1px solid #ccc; border-radius: 20px;
    width: auto;
}

.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s; -ms-transition: margin 0.3s ease-in 0s; -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-inner:before, #properties .onoffswitch-inner:after {
    content: " ";
    float: left; width: 50%; height: 5px; padding: 0;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold; line-height: 5px;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box;
    background-clip: border-box; border: 0 none;
}

.onoffswitch-inner:before {
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
    box-shadow: 0 1px 0 #5B97BB inset;
}

.onoffswitch-inner:after {
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
}

.onoffswitch-switch {
    width: 15px;
    background: #F5F5F5;
    border: 1px solid #ccc; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 26px; margin: -5px;
    box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-transition: right 0.3s ease-in 0s; -webkit-transition: right 0.3s ease-in 0s; -ms-transition: right 0.3s ease-in 0s; -o-transition: right 0.3s ease-in 0s; transition: right 0.3s ease-in 0s;
}

.onoffswitch-switch:before {
    border: 1px solid #EEEEEE;
    border-radius: 5px 5px 5px 5px;
    content: " ";
    display: block;
    height: 7px;
    left: 3px;
    position: relative;
    top: 3px;
    width: 7px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

.link-property {
    font-size: 12px;
}

.onoffswitch-checkbox[disabled] + .onoffswitch-label {
    border-color: #eee;
}

.onoffswitch-checkbox[disabled] + .onoffswitch-label .onoffswitch-switch {
    background: #eee;
    box-shadow: none;
}

.onoffswitch-checkbox[disabled] + .onoffswitch-label:before {
    box-shadow: 0 1px 0 #9AABB5 inset;
    background: #A0D1E1;
}
